<div class="col-md-12 mb-3">
  <div class="card card-custom">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{imagen}" class="img-fluid rounded-start" alt="{imagen}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{titulo}</h5>
          <div class="custom-line"></div>
          <div class="additional-info">
            <p>Escrito el: <span class="highlight-date">{fecha}</span> por: <span
                class="highlight-author">{autor}</span></p>
          </div>
          <p class="card-text">{detalle}</p>
        </div>
      </div>
    </div>
  </div>
</div>