<header class="d-flex flex-column justify-content-between">
  <div class="barra d-flex justify-content-between align-items-center">
    <img src="./assets/images/logo.svg" class="img-fluid" alt="Logo Principal" />
    <nav>
      <ul class="d-flex list-unstyled mb-0">
        <li class="ms-3"><a href="#" class="text-white">Nosotros</a></li>
        <li class="ms-3"><a href="#" class="text-white">Anuncio</a></li>
        <li class="ms-3"><a href="#" class="text-white">Blog</a></li>
        <li class="ms-3"><a href="#" class="text-white">Contacto</a></li>
      </ul>
    </nav>
  </div>
  <h1 class="text-white text-right mt-auto mb-4">Venta de casas y departamentos exclusivos de lujo</h1>
</header>