<article class="card house-article">
  <div class="card-img">
    <img src="{imagen}" alt="{imagen}" />
  </div>
  <div class="card-body flex">
    <h4>{titulo}</h4>
    <p>{descripcion}</p>
    <b>{precio}</b>
    <div class="house-details flex">
      <div class="house-detail flex">
        <img src="./assets/images/icono_wc.svg" alt="Icono Baños" />
        <span>{banios}</span>
      </div>
      <div class="house-detail flex">
        <img src="./assets/images/icono_estacionamiento.svg" alt="Icono Estacionamiento" />
        <span>{estacionamiento}</span>
      </div>
      <div class="house-detail flex">
        <img src="./assets/images/icono_dormitorio.svg" alt="Icono Dormitorio" />
        <span>{dormitorios}</span>
      </div>
    </div>
    <a href="#">
      <button class="btn">Ver Propiedad</button>
    </a>
  </div>
</article>